// COLOR
  // TEXT
  .text-white {
    color: #FFF;
  }
  .text-lightgrey {
    color: #f1efef;
  }
  .text-grey {
    color: #7C858F;
  }
  .text-black {
    color: #000;
  }
  .text-pri-color {
    color: $primary-color;
  }

  .text-btn-color {
    color: $btn-color;
  }
  .text-facebook {
    color: 	#3b5998;
  }
  .text-twitter {
    color: 	#00acee;
  }
  .text-instagram {
    color: 	#00587a;
  }

  // TEXT
  // BACKGROUND
  .bg-lightgrey {
    background-color: #f1efef;
  }
  .bg-grey {
    background-color: #7C858F;
  }
  .bg-white {
    background-color: #FFF
  }

  // BACKGROUND
// COLOR
// MARGIN & PADDING
$types: m, p;
@each $spacing in $types {
  @for $i from 1 through 20 {
    .#{$spacing}-#{$i} {
      @if $spacing == m {
        margin: 5px * $i;
      } @else {
        padding: 5px * $i;
      }
    }
  }
}
$types: m, p;
@each $spacing in $types {
  @for $i from 1 through 20 {
    .#{$spacing}t-#{$i} {
      @if $spacing == m {
        margin-top: 5px * $i;
      } @else {
        padding-top: 5px * $i;
      }
    }
  }
}
$types: m, p;
@each $spacing in $types {
  @for $i from 1 through 20 {
    .#{$spacing}r-#{$i} {
      @if $spacing == m {
        margin-right: 5px * $i;
      } @else {
        padding-right: 5px * $i;
      }
    }
  }
}
$types: m, p;
@each $spacing in $types {
  @for $i from 1 through 20 {
    .#{$spacing}b-#{$i} {
      @if $spacing == m {
        margin-bottom: 5px * $i;
      } @else {
        padding-bottom: 5px * $i;
      }
    }
  }
}
$types: m, p;
@each $spacing in $types {
  @for $i from 1 through 20 {
    .#{$spacing}l-#{$i} {
      @if $spacing == m {
        margin-left: 5px * $i;
      } @else {
        padding-left: 5px * $i;
      }
    }
  }
}

// MARGIN & PADDING
// MARGIN
// MARGIN
// PADDING
// PADDING
// TEXT-STYLE
.text-uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
// TEXT-STYLE
