
// CENTRAMENTO E LARGHEZZA ELEMENTI
@mixin container-center($width) {
  width: $width;
  margin: 0 auto;
}

// COLORE TESTO E SFONDO BOTTONE
@mixin btn ($color, $bg-color) {
  color: $color;
  background-color: $bg-color;
}

// REPLICA DI ALCUNE CARD CON CARATTERISTICHE SIMILI
@mixin card-conteiner($name, $width, $img-width) {
  display: flex;
  flex-wrap: wrap;
  .#{$name}-card {
    width: $width;
    img {
      width: $img-width;
    }
    h4 {
      font-size: 16px;
      padding-top: 15px;
      text-transform: uppercase;
    }
    p {
      font-size: 13px;
      padding-top: 10px;
    }
  }
}
