* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

ul {
  list-style: none;
}

button {
  border: none;
  letter-spacing: 1px;
}

p {
  line-height: 30px;
}

h5 {
  text-transform: uppercase;
}

$titles: h1, h2, h3, h4, h5, h6;
@each $title in $titles {
  #{$title} {
    font-weight: 400;
  }
}
